/* RESET */
* {
  margin: 0;
}
/* FINE RESET */

/* COMMON */
.container {
  width: 1024px;
  margin: auto;
}

.highlight {
  background-color: yellow;
}
/* FINE COMMON */

/* HEADER */
header {
  background-color: lightblue;
  background-image: url("../img/pattern.png");
  background-size: 450px;
}

header img {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 10px;
}
/* FINE HEADER */

/* MAIN */
main {
  margin-top: 30px;
}

h1 {
  font-size: 37px;
  line-height: 38px;
}

.author {
  color: grey;
  font-size: 20px;
  margin-top: 10px;
}

.author span {
  color: lightblue;
}

.date {
  color: grey;
}

.foto-tim {
  margin-top: 20px;
}

.caption {
  font-size: 13px;
}

.lorem {
  margin-top: 20px;
}

.elenco-puntato {
  margin-top: 25px;
}

/* TABELLA */
table {
  margin-top: 25px;
  border-collapse: collapse;
}

thead {
  background-color: blue;
  color: white;
  text-align: left;
}

.odd {
  background-color: lightblue;
}

table .text {
  width: 50%;
}
/* FINE TABELLA */

/* FINE MAIN */

/* FOOTER */
footer {
  margin-top: 30px;
}

footer h3 {
  color: grey;
  margin-bottom: 5px;
}

.photo-footer {
  height: 200px;
  width: 250px;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
}

#monitor {
  background-image: url("../img/monitor.jpg");
}
#graph {
  background-image: url("../img/graph.jpg");
}
/* FINE FOOTER */
