/* RESET */
* {
  margin: 0;
}
/* FINE RESET */

/* COMMON */
.container {
  width: 1024px;
  margin: auto;
}
/* FINE COMMON */

/* HEADER */
header {
  background-color: lightblue;
  background-image: url("../img/pattern.png");
  background-size: 450px;
}

header img {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 10px;
}
/* FINE HEADER */

/* MAIN */
main {
  margin-top: 20px;
}

h1 {
  font-size: 37px;
  line-height: 38px;
}

.author {
  color: grey;
  font-size: 20px;
}

.author span {
  color: lightblue;
}

.date {
  color: grey;
}

.foto-tim {
  margin-top: 20px;
}

.caption {
  font-size: 13px;
}

/* FINE MAIN */
